<div class="container">
    <div>
        <img id="burgerImg" class="w-25 h-25" src="assets/images/1779865_1.jpg" alt="cartoon burger">
    </div>

    <h1 id="title" class="text-center">EAT MUH BURGER!</h1>

    <hr>

    <div class="row text-center">
        <div id="uneaten" class="col-lg-8">
            <h2 class="listTitles">Burgers to Eat!</h2>

            <div id="burgerList">
                <ol class="row">
                {{#each burger}}
                    <div class="col-6 burgerItems">
                    {{#unless devoured}}                
                        {{burger}}
                    {{/unless}}
                    </div>
                    <div class='col-6'>
                     {{#unless devoured}}                
                       {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                    </div>
                {{/each}}
                </ol>
            </div>
        </div>

        <div id="eaten" class="col-lg-4">
            <h2 class="listTitles">Burgers Eaten!</h2>

            <div id="eatenBurgs" class="burgerItems">
                <ul>
                {{#each burger}}
                    {{#if devoured}}
                        {{burger}}

                        {{> burgers/burger-block devoured=false}}
                    {{/if}}
                {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div id="burgerForm" class="text-center">
        <h2 class="listTitles">Add a Burger</h2>

        <form id="create-form">
            <div id="form-group">
                <label class="burgerItems">Name:</label>
                <input type="text" name="name" id="burgerName">
            </div>

            <button type="submit" id="sbmtBtn">Add Burger</button>
        </form>
    </div>
</div>